body {
    background: #fff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: larger;
    font-weight: 600;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}
